.playerContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.iFrame {
  border: none;
  height: 91px;
  margin-right: -1rem;
  margin-bottom: -1rem;
  margin-left: -1rem;
}
