/* Search form styles */
.searchForm {
  display: flex;
  flex-direction: row;
  padding: 20px 1rem;
  justify-content: center;
}

.searchForm__div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-basis: 100%;
}
