/* Search form styles */
.searchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  .searchForm {
    flex-wrap: nowrap;
  }
}
