/* Search form styles */
.searchForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .searchForm {
    flex-wrap: nowrap;
  }
}
